{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}

<!-- Vertically centered modal -->
<div class="card modal-dialog modal-dialog-centered" style="height: 50vh;">
 {% load static %}
 <img class="mb-4" src="{% static 'images/NynLogo.png' %}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="fancy btn btn-success" type="submit">Log In</button>
  </form>
  
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>

    
</div>
{% endblock content %}
