<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-left text-muted"> Designed by <a href="http://pixsellz.io">Pixsellz</a> <br> Developed by 
			<a target="_blank" href="http://behance.net/vosidiy">Vosidiy Muslimbek</a></p>
		<p target="_blank" class="float-right text-muted">
Copyright &copy 2019 <br>
<a href="http://bootstrap-ecommerce.com">Bootstrap-ecommerce UI kit</a>
		</p>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
